* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  max-width: 540px;
  min-width: 320px;
  margin: 0 auto;
  overflow-x: hidden;
  background: #f2f2f2;
  font: normal 14px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #000;
  -webkit-tap-highlight-color: transparent;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
}
/* search */
.search-index {
  display: flex;
  position: fixed;
  top: 0;
  left: 50%;
  width: 100%;
  max-width: 540px;
  min-width: 320px;
  height: 50px;
  transform: translateX(-50%);
  background: #f6f6f6;
  font-size: 12px;
}
.user {
  width: 44px;
  height: 44px;
  text-align: center;
  color: #37ade1;
}
.user::before {
  content: "";
  display: block;
  width: 23px;
  height: 23px;
  margin: 5px auto 0;
  background: url(../images/sprite.png) no-repeat -59px -195px;
  background-size: 104px;
}
.search {
  position: relative;
  flex: 1;
  height: 26px;
  border: 1px solid #999;
  border-radius: 5px;
  margin: 8px 0 12px 8px;
  color: #999;
  line-height: 24px;
  padding-left: 24px;
  box-shadow: 0 2px rgba(0, 0, 0, 0.1);
}
.search::before {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  content: "";
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-left: 8px;
  background: url(../images/sprite.png) no-repeat -60px -280px;
  background-size: 104px;
}
/* focus */
.focus {
  padding-top: 50px;
}
.focus img {
  width: 100%;
}
/* local导航栏 */
.local-nav {
  display: flex;
  height: 64px;
  background: #fff;
  border-radius: 5px;
  margin: 4px 5px;
}
.local-nav li {
  flex: 1;
}
.local-nav li a {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 7px 0;
  font-size: 11px;
}
.local-nav li a [class^="local-nav-icon"] {
  display: block;
  width: 32px;
  height: 32px;
  background: url(../images/localnav_bg.png) no-repeat 0 0;
  background-size: 32px;
}
.local-nav li a .local-nav-icon-icon2 {
  background-position: 0 -32px;
}
.local-nav li a .local-nav-icon-icon3 {
  background-position: 0 -64px;
}
.local-nav li a .local-nav-icon-icon4 {
  background-position: 0 -96px;
}
.local-nav li a .local-nav-icon-icon5 {
  background-position: 0 -128px;
}
/* 主导航栏 */
nav {
  margin: 0 5px;
  border-radius: 5px;
  overflow: hidden;
}
.nav-common {
  display: flex;
  height: 88px;
  background: pink;
}
.nav-common:nth-child(1) {
  background: -webkit-linear-gradient(left, #fa5b55, #fa9a4d);
}
.nav-common:nth-child(2) {
  margin: 3px 0;
  background: -webkit-linear-gradient(left, #4b90ed, #53bced);
}
.nav-common:nth-child(3) {
  background: -webkit-linear-gradient(left, #35c2a8, #6cd558);
}
.nav-items {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.nav-common .nav-items:nth-child(n + 2) {
  border-left: 1px solid #fff;
}
.nav-items a {
  flex: 1;
  width: 100%;
  text-align: center;
  line-height: 44px;
  color: #fff;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
}
.nav-items a:nth-child(1) {
  border-bottom: 1px solid #fff;
}
.nav-items:nth-child(1) a {
  border: none;
  background: url(../images/hotel.png) no-repeat bottom center;
  background-size: 121px;
}
/* 侧导航栏 */
.subnav-entry {
  display: flex;
  flex-wrap: wrap;
  margin: 4px 5px 8px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 1px 1px #cfcfcf;
}
.subnav-entry li {
  flex: 20%;
}
.subnav-entry li a:link,
.subnav-entry li a:visited {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 11px;
  color: #222;
}
.subnav-entry li a [class^="subnav-entry-icon"]::before {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  margin-top: 4px;
  background: url(../images/subnav-bg.png) no-repeat 0 0;
  background-size: 24px;
}
.subnav-entry li a .subnav-entry-icon-icon2::before {
  background-position: 0 -25px;
}
.subnav-entry li a .subnav-entry-icon-icon3::before {
  background-position: 0 -54px;
}
.subnav-entry li a .subnav-entry-icon-icon4::before {
  background-position: 0 -85px;
}
.subnav-entry li a .subnav-entry-icon-icon5::before {
  background-position: 0 -115px;
}
.subnav-entry li a .subnav-entry-icon-icon6::before {
  background-position: 0 -140px;
}
.subnav-entry li a .subnav-entry-icon-icon7::before {
  background-position: 0 -170px;
}
.subnav-entry li a .subnav-entry-icon-icon8::before {
  background-position: 0 -200px;
}
.subnav-entry li a .subnav-entry-icon-icon9::before {
  background-position: 0 -225px;
}
.subnav-entry li a .subnav-entry-icon-icon10::before {
  background-position: 0 -250px;
}
.sales-box {
  background: #fff;
  border: 1px solid #dbdbdb;
  border-width: 1px 0;
}
.sales-hd {
  position: relative;
  height: 44px;
  border-bottom: 1px solid #f2f2f2;
}
.sales-hd h2 {
  position: relative;
  text-indent: -1000px;
  overflow: hidden;
}
.sales-hd h2::after {
  position: absolute;
  top: 15px;
  left: 11px;
  content: "";
  display: block;
  width: 73px;
  height: 17px;
  background: url(../images/hot.png) no-repeat 0 -19px;
  background-size: 79px;
}
.sales-hd a:link,
.sales-hd a:visited {
  position: absolute;
  top: 9px;
  right: 8px;
  font-size: 10px;
  color: white;
  padding: 5px 19px 5px 10px;
  background: -webkit-linear-gradient(left, #ff4f65, #ff6bc6);
  border-radius: 12px;
}
.sales-hd a::after {
  position: absolute;
  top: 9px;
  right: 9px;
  display: block;
  content: "";
  width: 7px;
  height: 7px;
  margin-left: 4px;
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
  transform: rotate(45deg);
}
.row {
  display: flex;
  width: 100%;
}
.row a {
  flex: 1;
}
.row a img {
  width: 100%;
}
.row:nth-child(-n + 2) {
  border-bottom: 1px solid #f2f2f2;
}
.row a:nth-child(1) {
  border-right: 1px solid #f2f2f2;
}
